<template>
    <section>
        <b-field :label="label">
            <b-autocomplete
                v-model="query"
                :open-on-focus="true"
                :data="filteredDataObj"
                field="title"
                @select="option => selected = option">
            </b-autocomplete>
        </b-field>
        <input type="hidden" :name="name" :value="selected.slug" v-if="selected">
    </section>
</template>

<script>
    export default {
        props: {
            label: {
                type: String,
                default: 'Find a item',
            },
            name: {
                type: String,
                default: null,
            },
            value: {
                type: String,
                default: null,
            },
        },
        data: function () {
            return {
                data: [],
                keepFirst: false,
                query: '',
                selected: null
            }
        },
        computed: {
            filteredDataObj() {
                return this.data.filter((option) => {
                    return option.title
                        .toString()
                        .toLowerCase()
                        .indexOf(this.query.toLowerCase()) >= 0
                })
            }
        },
        created: function () {
            axios.get('/api/games').then(({data: response}) => {
                this.data = response.data;
                if (this.value) {
                    const selected = response.data.find(element => element.slug === this.value);
                    if (selected) {
                        this.query = selected.title;
                        this.selected = selected;
                    }
                }
            });
        }
    }
</script>
