// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    min-width: 20rem;
}

#app {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    background-color: #00233c;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rating-topmenu {
    align-items: center;
    justify-content: space-between;

    a.nav-link {
        color: #fff;
    }
}

.rating-block {
    color: #fff;

    a:not(.dropdown-item),
    table td,
    table th {
        color: #fff;
    }

    thead th {
        text-transform: uppercase;
        font-size: .6rem;
        font-weight: 400;
        vertical-align: middle;
    }

    thead th, tbody td:not(.rating-block-clip) {
        text-align: center;
    }

    &-clip {
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 9rem;
    }

    .table-responsive {
        max-height: 100vh;

        @media (min-width: 768px) {
            max-height: 89.5rem;
        }

        &::-webkit-scrollbar {
            width: .3rem;
        }
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 1rem;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 1rem;
        }
    }
}

.rating-search {
    position: relative;

    &:before {
        width: 1.25rem;
        height: 1.25rem;
        content: "";
        color: #000;
        background-size: 1rem;
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        right: 0;
    }

    input,
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
        background: transparent;
        border: 0;
        outline: 0;
        border-bottom: 1px solid #fff;
        width: 100%;
        color: #fff;
        -webkit-text-fill-color: #fff;
        -webkit-transition-delay: 99999s;
    }
}

.rating-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4.5rem;
    padding-bottom: 4.25rem;
    font-size: .75rem;
    background-color: #111;
}

.rating-wrapper {
    flex-grow: 1;
}

.rating-wrapper .btn {
    color: #fff;
    font-size: .75rem;
    line-height: 1.5;
    border-radius: 2rem;
    background-color: #762fb5;
    border-color: transparent;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    box-shadow: 0px 13px 17px -7px rgba(108,44,163,0.6);

    &:hover {
        background-color: #6e5fee;
    }
}
