<template>
    <tbody>
        <template v-if="Array.isArray(items)">
            <tr v-for="item in items" v-if="items.length">
                <td class="rating-block-clip">
                    <a :href="item.url">{{ item.title }}</a>
                    <div class="small" v-if="item.location">{{ item.location }}</div>
                </td>
                <td>{{ item.total_kills }}</td>
                <td>{{ item.total_headshots }}</td>
                <td>{{ item.total_team_kills }}</td>
                <td>{{ item.total_deaths }}</td>
                <td>{{ item.total_score }}</td>
            </tr>
            <tr v-else>
                <td colspan="6">No players</td>
            </tr>
        </template>
        <slot v-else></slot>
    </tbody>
</template>

<script>
import {mapState} from 'vuex';

export default {
  name: 'PlayersIndex',
  computed: mapState('players', ['loading', 'items'])
};
</script>
