<template>
    <input v-model="queryInput" @input="debouncedSearch" @keydown.enter.prevent="">
</template>

<script>
import {mapActions, mapState} from 'vuex';
import debounce from 'lodash/debounce';

export default {
    name: 'TeamsSearch',
    props: {
        location: {
            type: String,
            default: null,
        },
        game: {
            type: String,
            default: null,
        },
    },
    computed: {
        ...mapState('teams', ['query']),
        queryInput: {
            get() {
                return this.query;
            },
            set(query) {
                return this.setQuery(query);
            }
        }
    },
    methods: {
        ...mapActions('teams', ['setQuery', 'search']),
        debouncedSearch: debounce(function () {
            this.search({
                location: this.location,
                game: this.game,
            });
        }, 500)
    }
};
</script>
